<div class="container">
    <div>&nbsp;</div>
    <div>
        <h1 class="text-center">ElGamal Elliptic Curve</h1>
    </div>
    <div>&nbsp;</div>
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="encrypt-tab" data-bs-toggle="tab" data-bs-target="#encrypt"
                type="button" role="tab" aria-selected="true">Encrypt</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="desencrypt-tab" data-bs-toggle="tab" data-bs-target="#desencrypt" type="button"
                role="tab" aria-selected="false">Desencrypt</button>
        </li>
    </ul>
    <div>&nbsp;</div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="encrypt" role="tabpanel" aria-labelledby="encrypt-tab">
            <form class="form-horizontal" [formGroup]="formgamal2" #form="ngForm"
                (ngSubmit)="capturarValoresE()">
                <div class="form-group">
                    <label>Text to encrypt</label>
                    <input matinput class="form-control" formControlName="textE" name="textE"  [(ngModel)]=textE required>
                    <span *ngIf="this.formgamal2.get('textE')?.errors?.['required']">
                        (The text cannot be empty)
                    </span>
                </div>
                <div>&nbsp;</div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Key p</label>
                            <input class="form-control" formControlName="p" name="p" [(ngModel)]=p>
                        </div>
                        <div class="col-md-4">
                            <label>Key a</label>
                            <input class="form-control" formControlName="a" name="a" [(ngModel)]=a>
                        </div>
                        <div class="col-md-4">
                            <label>Key b</label>
                            <input class="form-control" formControlName="b" name="b" [(ngModel)]=b>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Private key of Sender (key &#60; p)</label>
                            <input class="form-control" formControlName="key" name="key" [(ngModel)]=key>
                        </div>
                        <div class="col-md-4">
                            <label>Private key of Sender (k &#60; p)</label>
                            <input class="form-control" formControlName="k" name="k" [(ngModel)]=k>
                        </div>
                        <div class="col-md-4">
                            <div>&nbsp;</div>
                            <button type="button" class="btn btn-primary bg-dark" (click)="getRandomKey()">Random key</button>
                        </div>
                    </div>
                </div>
                

                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-md-1"><button type="submit" class="btn btn-primary bg-dark">Submit</button></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-primary bg-dark" (click)="reset()">Reset</button>
                    </div>
                </div>
            </form>
            <div>&nbsp;</div>
            Your text encrypt:
            <p> {{textEncrypt}}</p>

        </div>

        <div class="tab-pane fade" id="desencrypt" role="tabpanel" aria-labelledby="desencrypt-tab">
            <form [formGroup]="formgamal2" #form="ngForm" (ngSubmit)="capturarValoresD()">
                <div class="form-group">
                    <label>Text to decrypt</label>
                    <input matinput class="form-control" formControlName="textD" name="textD"  [(ngModel)]=textD required>
                    <span *ngIf="this.formgamal2.get('textD')?.errors?.['required']">
                        (The text cannot be empty)
                    </span>
                </div>
                <div>&nbsp;</div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-8">
                            <label>Private key of Sender (key &#60; p)</label>
                            <input class="form-control" formControlName="key" name="key" [(ngModel)]=key>
                        </div>
                        <div class="col-md-4">
                            <div>&nbsp;</div>
                            <button type="button" class="btn btn-primary bg-dark" (click)="getRandomKey()">Random key</button>
                        </div>
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-md-1"><button type="submit" class="btn btn-primary bg-dark">Submit</button></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-primary bg-dark" (click)="reset()">Reset</button>
                    </div>
                </div>
            </form>
            <div>&nbsp;</div>
            Your text desencrypt:
            <p> {{textDecrypt}}</p>
        </div>
    </div>
</div>
