<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #1a064b;">
    <div class="container">
      <ul class="nav navbar-nav mx-auto">
        <a class="navbar-brand" href="#">CRYPTOBOX</a>
      </ul>
        <ul class="nav navbar-nav m-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Manual</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Classic Systems
            </a>
            <ul class="dropdown-menu pull-right" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/clasicos/afin">Affine</a></li>
              <li><a class="dropdown-item" routerLink="/clasicos/desplazamiento">Shift</a></li>
              <li><a class="dropdown-item" routerLink="/clasicos/hill">Hill</a></li>
              <li><a class="dropdown-item" routerLink="/clasicos/permutacion">Permutation</a></li>
              <li><a class="dropdown-item" routerLink="/clasicos/sustitucion">Substitution</a></li>
              <li><a class="dropdown-item" routerLink="/clasicos/vigenere">Vigenere</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bloque/gamma">Γ-Pentagonal</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cipher Block
            </a>
            <ul class="dropdown-menu pull-right" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/bloque/aes">AES</a></li>
              <li><a class="dropdown-item" routerLink="/bloque/sdes">S DES</a></li>
              <li><a class="dropdown-item" routerLink="/bloque/tdes">T DES</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Public Key
            </a>
            <ul class="dropdown-menu pull-right" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/llave/rsa">RSA</a></li>
              <li><a class="dropdown-item" routerLink="/llave/rabin">Rabin</a></li>
              <li><a class="dropdown-item" routerLink="/llave/gamal">ElGamal Zp</a></li>
              <li><a class="dropdown-item" routerLink="/llave/gamal2">ElGamal EC</a></li>
            </ul>
          </li>
        </ul>
    </div>
</nav>