<div class="container">
    <div>&nbsp;</div> 
    <div><h1 class="text-center">Shift</h1></div>
    <div>&nbsp;</div> 
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
            <button class="nav-link active" id="encrypt-tab" data-bs-toggle="tab" data-bs-target="#encrypt" type="button" role="tab" aria-selected="true">Encrypt</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="desencrypt-tab" data-bs-toggle="tab" data-bs-target="#desencrypt" type="button" role="tab" aria-selected="false">Desencrypt</button>
        </li>
        <li class="nav-item" role="presentation">
        <button class="nav-link" id="analysis-tab" data-bs-toggle="tab" data-bs-target="#analysis" type="button" role="tab" aria-selected="false">Attack</button>
        </li>
    </ul>
    <div>&nbsp;</div> 

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="encrypt" role="tabpanel" aria-labelledby="encrypt-tab">
            <form [formGroup] = "formDesplazamiento" #form = "ngForm" (ngSubmit)="capturarValoresE()">
            <div class="form-group">
                <label>Text to encrypt</label>
                <input matinput class="form-control" formControlName = "text" name="text" required>
            </div>
            <div>&nbsp;</div> 
            <div class="form-group">
                <label>Key</label>
                <input class="form-control" formControlName= "key" name="key" placeholder={{key}}>
                <button class="btn btn-primary bg-dark" (click)="getRandomKey()">Random key</button>
            </div>
            <div>&nbsp;</div> 
            <button type="submit" class="btn btn-primary bg-dark">Submit</button>
            </form> 
            <div>&nbsp;</div> 
            Your text encrypt:
            <p> {{textEncrypt}}</p>
        </div>
        <div class="tab-pane fade" id="desencrypt" role="tabpanel" aria-labelledby="desencrypt-tab">
            <form [formGroup] = "formDesplazamiento" #form = "ngForm" (ngSubmit)="capturarValoresD()">
            <div class="form-group">
                <label>Text to desencrypt</label>
                <input matinput class="form-control" formControlName = "text" name="text" required>
            </div>
            <div>&nbsp;</div> 
            <div class="form-group">
                <label>Key</label>
                <input class="form-control" formControlName= "key" name="key" placeholder={{key}}>
                <button class="btn btn-primary bg-dark" (click)="getRandomKey()">Random key</button>
            </div>
            <div>&nbsp;</div> 
            <button type="submit" class="btn btn-primary bg-dark">Submit</button>
            </form> 
            <div>&nbsp;</div> 
            Your text desencrypt:
            <p> {{textDesencrypt}}</p>
        </div>
        <div class="tab-pane fade" id="analysis" role="tabpanel" aria-labelledby="analysis-tab">
            <form [formGroup] = "formDesplazamiento" #form = "ngForm" (ngSubmit)="capturarValoresA()">
            <div class="form-group">
                <label>Text to attack</label>
                <input matinput class="form-control" formControlName = "text" name="text" required>
            </div>
            <div>&nbsp;</div> 
            <button type="submit" class="btn btn-primary bg-dark">Submit</button>
            </form> 
            <div>&nbsp;</div> 
            Your text:
            <p> {{analysis}}</p>
        </div>
    </div>
</div> 
