<script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>
<div class="container">
    <div>&nbsp;</div>
    <div>
        <h1 class="text-center">AES</h1>
    </div>
    <div>&nbsp;</div>
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="encrypt-tab" data-bs-toggle="tab" data-bs-target="#encrypt"
                type="button" role="tab" aria-selected="true">Encrypt</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="desencrypt-tab" data-bs-toggle="tab" data-bs-target="#desencrypt" type="button"
                role="tab" aria-selected="false">Desencrypt</button>
        </li>
    </ul>
    <div>&nbsp;</div>

    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="encrypt" role="tabpanel" aria-labelledby="encrypt-tab">
            <form class="form-horizontal" [formGroup]="formAes" #form="ngForm" (ngSubmit)="capturarValoresE()">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <label>Image to encrypt</label>
                            <div><input (change)="capturarFile($event)" type="file"formControlName="img" [(ngModel)]=imgE></div>                    
                        </div> 
                        <div class="col-md-5">
                            <label>Key</label>
                            <input class="form-control" formControlName="key" name="key" [(ngModel)]=key>
                            <p>{{this.error}}</p>
                        </div>
                        <div class="col-md-3">
                            <label>Matrix Key Dimension</label>
                            <input class="form-control" formControlName="n" name="n" [(ngModel)]=n>
                        </div>
                        <div class="col-md-2">
                            <div>&nbsp;</div>
                            <button type="button" class="btn btn-primary bg-dark" (click)="getRandomKey()">Random key</button>
                            <p>{{this.error}}</p>
                        </div>
                    </div>
                </div>

                <div>&nbsp;</div>
                <div class="row">
                    <div class="col-md-1"><button type="submit" class="btn btn-primary bg-dark" (click)="capturarValoresE()">Submit</button></div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-primary bg-dark" (click)="reset()">Reset</button>
                    </div>
                </div>
            </form>
            <div>&nbsp;</div>
            Your image encrypt:
            <div class="row center">
                <div class="col-md-5 mx-auto" >
                    <img [src]='img' class="img-fluid" *ngIf="img">
                </div>
                <div class="col-md-5 mx-auto" >
                    <img [src]='imgE' class="img-fluid" *ngIf="imgE">
                </div>
            </div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>

    </div>
</div>